body{
background-color:Gray;
font-family: "Tahoma" font-size: 15px;
letter-spacing: 1px; word-spacing: 1px; color: #000000;
font-weight: normal;
text-decoration: none;
font-style: ;
font-variant: normal; text-transform: none;lign:center;
}
h1{
  text-align:center;
}
h4{
text-align:center;
}
.third{
  padding-left:7%}
element 
